<#include "security.ftl">
<#import "login.ftl" as l>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Social net</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <#if user??>
      <li class="nav-item">
        <a class="nav-link" href="/main">Messages<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user-messages/${currentUserId}">My messages<span class="sr-only">(current)</span></a>
      </li>
      </#if>
      <#if isAdmin>
      <li class="nav-item">
        <a class="nav-link" href="/user">User list<span class="sr-only">(current)</span></a>
      </li>
      </#if>
      <#if user??>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">User profile<span class="sr-only">(current)</span></a>
      </li>
      </#if>
     </ul>
     <div class="navbar-text mr-3"><#if user??>${name}<#else>Please, login</#if></div>
     <@l.logout />
  </div>
  
 </nav>